

<nav class="navbar navbar-inverse" role="navigation">
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/main">Home</a>
  </div>
  
  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li>
        <a ng-bind="mangaName" href="#/manga/{{ mangaName }}"></a>
      </li>
    </ul>
  </div>

</nav>

<div class="container">  
  <div class="page-body">
    <div class="panel text-center">
      <h4>
        <a href="#/manga/{{ mangaName }}">{{ mangaName }}</a>
      </h4>
      <img ng-src="{{ manga.logo }}" style="max-height: 275px;"/>
      <div class="h4" ng-bind="description"></div>
    </div>
    
    <div class="row">
      <div ng-repeat="(volName,volList) in manga.mangaObj" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
        <div class="panel">
          <a href="#/slideView/{{ mangaName }}?volume={{ volName }}" class="btn btn-primary btn-lg">
            <span class="badge">
              {{ volList.length + "p" }}
            </span>
            {{ volName }}
            &nbsp;
            Slide
          </a>
          <a href="#/seriesView/{{ mangaName }}?volume={{ volName }}" class="btn btn-default btn-lg">
            Series
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <label ng-bind="info"></label>
</div>
